.about-me{
    height: 50vh;
    width: 100%;
  
    display: flex;
  
    .left-side{

      width: 50%;
      height: 100%;
      @extend .flex-center;
      flex-direction: column;
      text-align: center;
      padding-left: 20px;
      img{
        height: 500px;
        width: 500px;
        border-radius: 50%;
      }
  
    }
  
    .right-side{
      width: 50%;
      height: 100%;
      @extend .flex-center;
      img{
        height: 250px;
        width: 500px;
        border-radius: 20px;
      }
  
    }
  }