@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import './utilities';

$primaryColor: steelblue;
$border: 4px solid black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  position: relative;
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  @include set-background($primaryColor);
}

canvas {
  border: $border;
  background-color: black;
}

.popup {
  @extend %absolute-center;
  @include set-background($primaryColor);

  @extend %flex-center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;

  button {
    @extend %btn;
  }
}
